---
layout: layouts/base.njk
---
{# ABOUTME: Standard page layout for dylanreed.com. #}
{# ABOUTME: Extends base layout, wraps content in notebook-styled container. #}

<div class="notebook-page">
  {{ content | safe }}
</div>
